:root {
  --bs-primary: #00A3E0;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #0082b3;
  border-color: #0082b3;
}

.btn-outline-primary {
  color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

a {
  color: var(--bs-primary);
}

a:hover {
  color: #0082b3;
}

.text-primary {
  color: var(--bs-primary) !important;
}
